.main {
   display: flex;
   justify-content: space-between;
   padding: 20px 10px;
   background-color: bisque;
   margin-bottom: 60px;
   height: 100%;
 
   .section_one{

    display: flex;
    flex-direction: column;
    padding: 10px;


   }
   .section_two {
     display: flex;
     flex-direction: column;
     padding: 10px;
   }

   .fav-cocktails {

   
    padding-top: 10px;
    font-size: 12px;
    

    .fav-list {
      list-style: none;
      border: 2px solid black;
     

      @media screen and (min-width: 768px){

        border: 2px solid black;
        width: 300px; 
        height: 400px; 
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between;
        
      } 

    }

   }
   .result-cocktails {
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 10px;
       font-size: 12px;
       margin-right: 10px;

       

       

       .result-list {
        list-style: none;
        ; 
        border: 5px solid black;

        @media screen and (min-width: 768px){

          width: 300px; 
        height: 800px; 
        
          
        } 
       
        
       }
   }

  .fav {
        background-color: aquamarine;
       }

  .js_drink-img {
         width: 100px;
         height: 100px;
         margin-right: 10px;
         
       }
}
